{% extends 'base.html.twig' %}

{% form_theme edit_form 'registro/form_errors.html.twig' %}

{% block body %}
    <div class="container">

    {% if is_granted('ROLE_ADMIN') %}
        <ol class="breadcrumb">
            <li><a href="{{ path('admin')  }}">Solicitudes</a></li>
            <li>{{ registro.nombre|title}} {{ registro.paterno|title}} {{ registro.materno }}</li>
        </ol>

    {% endif %}

    {% if app.session.flashbag.has('notice') %}
        <div class="jumbotron">
            <h3><i class="fa fa-check" aria-hidden="true"></i> {{ app.session.flashbag.get('notice').0 }}</h3>
            <p>Se ha enviado un correo de confirmación a la dirección que nos proporcionaste: <strong>{{ registro.mail }}</strong></p>
            <p>Hemos recibido la siguiente información:</p>
            <p><strong>Nombre</strong>: <span class="label label-success">{{ registro.nombre|title }} {{ registro.paterno|title }} {{ registro.materno|title }}</span></p>
            <p><strong>Actividad horario matutino: </strong>
                {% for key,value in registro.actividadm if value %}
                    {% if key == 'actividad1' %}
                        <span class="label label-success">{{ actividad1 }}</span>
                    {% elseif key == 'actividad2' %}
                        <span class="label label-success">{{ actividad2 }}</span>
                    {% elseif key == 'actividad3' %}
                        <span class="label label-success">{{ actividad3  }}</span>
                    {% elseif key == 'actividad4' %}
                        <span class="label label-success">{{ actividad4  }}</span>
                    {% elseif key == 'actividad5' %}
                        <span class="label label-success">{{ actividad5  }}</span>
                    {% elseif key == 'actividad6' %}
                        <span class="label label-success">{{ actividad6  }}</span>
                    {% elseif key == 'actividad7' %}
                        <span class="label label-success">{{ actividad7  }}</span>
                    {% elseif key == 'actividad8' %}
                        <span class="label label-success">{{ actividad8 }}</span>
                    {% elseif key == 'actividad9' %}
                        <span class="label label-success">{{ actividad9 }}</span>
                    {% elseif key == 'actividad10' %}
                        <span class="label label-success">{{ actividad10 }}</span>
                    {% elseif key == 'actividad11' %}
                        <span class="label label-success">{{ actividad11 }}</span>
                    {% elseif key == 'actividad12' %}
                        <span class="label label-success">{{ actividad12 }}</span>
                    {% elseif key == 'actividad13' %}
                        <span class="label label-success">{{ actividad13 }}</span>
                    {% elseif key == 'actividad14' %}
                        <span class="label label-success">{{ actividad14 }}</span>
                    {% elseif key == 'actividad15' %}
                        <span class="label label-success">{{ actividad15 }}</span>
                    {% elseif key == 'actividad16' %}
                        <span class="label label-success">{{ actividad16 }}</span>
                    {% endif %}
                {% endfor %}
            </p>
            <p><strong>Actividad horario vespertino: </strong>
                {% for key,value in registro.actividadv if value %}
                    {% if key == 'actividad1' %}
                        <span class="label label-success">{{ actividad1 }}</span>
                    {% elseif key == 'actividad2' %}
                        <span class="label label-success">{{ actividad2 }}</span>
                    {% elseif key == 'actividad3' %}
                        <span class="label label-success">{{ actividad3  }}</span>
                    {% elseif key == 'actividad4' %}
                        <span class="label label-success">{{ actividad4  }}</span>
                    {% elseif key == 'actividad5' %}
                        <span class="label label-success">{{ actividad5  }}</span>
                    {% elseif key == 'actividad6' %}
                        <span class="label label-success">{{ actividad6  }}</span>
                    {% elseif key == 'actividad7' %}
                        <span class="label label-success">{{ actividad7  }}</span>
                    {% elseif key == 'actividad8' %}
                        <span class="label label-success">{{ actividad8 }}</span>
                    {% elseif key == 'actividad9' %}
                        <span class="label label-success">{{ actividad9 }}</span>
                    {% elseif key == 'actividad10' %}
                        <span class="label label-success">{{ actividad10 }}</span>
                    {% elseif key == 'actividad11' %}
                        <span class="label label-success">{{ actividad11 }}</span>
                    {% elseif key == 'actividad12' %}
                        <span class="label label-success">{{ actividad12 }}</span>
                    {% elseif key == 'actividad13' %}
                        <span class="label label-success">{{ actividad13 }}</span>
                    {% elseif key == 'actividad14' %}
                        <span class="label label-success">{{ actividad14 }}</span>
                    {% elseif key == 'actividad15' %}
                        <span class="label label-success">{{ actividad15 }}</span>
                    {% elseif key == 'actividad16' %}
                        <span class="label label-success">{{ actividad16 }}</span>
                    {% endif %}
                {% endfor %}
            </p>
            <p><strong>¿Deseas comida vegetariana?:</strong>
                {% if registro.comida == true %}
                    <span class="label label-success">Si</span>
                {% else %}
                    <span class="label label-danger">No</span>
                {% endif %}
            </p>
            <p><strong>Playera:</strong>
                {% if registro.sexo == true %}
                    <span class="label label-success">Hombre</span>
                {% else %}
                    <span class="label label-success">Mujer</span>
                {% endif %}
                <span class="label label-success">{{ registro.playera }}</span>
            </p>
            <br>
            <p class="text-justify">En caso de no recibir este correo de confirmación, puedes verificar en tu
                bandeja de correos no deseados o escribir al correo <i>webmaster<i class="fa fa-at"></i>matmor.unam.mx</i> para validar que hayamos recibido tu información.</p>
        </div>

        <div class="col-lg-7 col-lg-offset-5">
            <a href="http://www.matmor.unam.mx/feria-matematica" type="button"  class="btn btn-primary">Finalizar</a>
        </div>
    {% else %}

        {{ form_start(edit_form, {'action': path('registro_edit',{'id':registro.id, 'mail':registro.mail})}) }}

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="well well-lg">
                    <h4>A través de este formulario podrás integrarte a las actividades de la {{ evento }}</h4>
                    <p class="text-justify">
                        <small><i class="fa fa-check-circle" aria-hidden="true"></i></small> Puedes seleccionar una actividad por cada horario (matutino, vespertino).<br>
                        <small><i class="fa fa-check-circle" aria-hidden="true"></i></small> En cada actividad se indicará la cantidad de <span class="label label-success">lugares disponibles.</span>
                        También se indicará cuando la actividad <span class="label label-danger">tenga pocos o no tenga lugares disponibles</span><br>
                        <small><i class="fa fa-check-circle" aria-hidden="true"></i></small> Una vez que enviés el formulario ya no será posible modificar tu regsitro.<br>
                        <small><i class="fa fa-check-circle" aria-hidden="true"></i></small> Después de enviar el formulario recibirás un correo de confirmación a la dirección que nos proporcionaste,
                        de no ser así puedes escribir a <br><strong>webmaster<i class="fa fa-at"></i>matmor.unam.mx</strong> para confirmar que se haya actualizado tu
                        información.
                    </p>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 ">

                    <div class="text-info">
                        {% if registro.nombre is not null or registro.nombre is not empty %}
                            <div class="page-header"><h2>{{ registro.nombre }} {{ registro.paterno }} {{ registro.materno }}<em> <small>{{ registro.mail}}</small></em></h2>
                                <h4> {{ registro.institucion }}, {{ registro.carrera }} </h4>
                            </div>
                        {% endif %}
                    </div>


                    <div class="col-lg-3">
                        <div class="form-group">
                            <div class="text-info">{{ form_label(edit_form.comida) }}</div>
                            <div>
                                {% spaceless %}
                                    {% for child in edit_form.comida %}
                                        <div class="radio-inline ">
                                            {{ form_widget(child) }}  {{ form_label(child, null, {'label_attr': {'class': 'btn btn-default btn-xs'}}) }}
                                        </div>
                                    {% endfor %}
                                {% endspaceless %}
                            </div>
                            <div>{{ form_errors(edit_form.comida) }}</div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <div class="text-info">{{ form_label(edit_form.sexo) }}</div>
                            <div>
                                {% spaceless %}
                                    {% for child in edit_form.sexo %}
                                        <div class="radio-inline">
                                            {{ form_widget(child) }}  {{ form_label(child, null, {'label_attr': {'class': 'btn btn-default btn-xs'}}) }}
                                        </div>
                                    {% endfor %}
                                {% endspaceless %}
                            </div>
                            <div>{{ form_errors(edit_form.sexo) }}</div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="form-group">
                            <div class="text-info ">{{ form_label(edit_form.playera) }}</div>
                            <div>{{ form_widget(edit_form.playera, {'attr': {'class': 'form-control input-sm'} } ) }}</div>
                            <div>{{ form_errors(edit_form.playera) }}</div><br>
                        </div>
                    </div>

                    {% if edit_form.activo is defined %}
                        <div class="col-lg-3">
                            <div class="form-group text-center">
                                <div class="text-info">{{ form_label(edit_form.activo) }}</div>
                                <div>
                                    {% spaceless %}
                                        {% for child in edit_form.activo %}
                                            <div class="radio-inline">
                                                {{ form_widget(child) }}  {{ form_label(child, null, {'label_attr': {'class': 'btn btn-default btn-xs'}}) }}
                                            </div>
                                        {% endfor %}
                                    {% endspaceless %}
                                </div>
                                <div>{{ form_errors(edit_form.activo) }}</div>
                            </div>
                        </div>
                    {% endif %}

                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <br>
                        <div><h2>Actividades</h2> </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            {{ form_errors(edit_form) }}
                            {% for flashMessage in app.session.flashbag.get('error') %}
                                <span class=" label label-danger"> <i class="fa fa-times"></i> {{ flashMessage }}</span>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-clock-o" aria-hidden="true"></i> Horario matutino</a></li>
                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-clock-o" aria-hidden="true"></i> Horario vespertino</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content ">
                            <div role="tabpanel" class="tab-pane active" id="home">
                                <p class="text-info">Selecciona una actividad para el horario <mark>matutino</mark></p>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="col-md-6" >
                                        <div>
                                            {{ form_widget(edit_form.actividadm.actividad1) }}
                                            {{ form_label(edit_form.actividadm.actividad1) }}
                                            {% if totalm.actividad1 < actividad1m %}
                                                <span class="label label-success">{{ totalm.actividad1 }} de {{ actividad1m }}</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalm.actividad1 }} de {{ actividad1m }}</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadm.actividad2) }}
                                            {{ form_label(edit_form.actividadm.actividad2) }}
                                            {% if totalm.actividad2< actividad2m %}
                                                <span class="label label-success">{{ totalm.actividad2 }} de {{ actividad2m }}</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalm.actividad2 }} de {{ actividad2m }}</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadm.actividad3) }}
                                            {{ form_label(edit_form.actividadm.actividad3) }}
                                            {% if totalm.actividad3< actividad3m %}
                                                <span class="label label-success">{{ totalm.actividad3 }} de {{ actividad3m }}</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalm.actividad3 }} de {{ actividad3m }}</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadm.actividad4) }}
                                            {{ form_label(edit_form.actividadm.actividad4) }}
                                            {% if totalm.actividad4< actividad4m %}
                                                <span class="label label-success">{{ totalm.actividad4 }} de {{ actividad4m }}</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalm.actividad4 }} de {{ actividad4m }}</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadm.actividad5) }}
                                            {{ form_label(edit_form.actividadm.actividad5) }}
                                            {% if totalm.actividad5< actividad5m %}
                                                <span class="label label-success">{{ totalm.actividad5 }} de {{ actividad5m }}</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalm.actividad5 }} de {{ actividad5m }}</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadm.actividad6) }}
                                            {{ form_label(edit_form.actividadm.actividad6) }}
                                            {% if totalm.actividad6< actividad6m %}
                                                <span class="label label-success">{{ totalm.actividad6 }} de {{ actividad6m }}</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalm.actividad6 }} de {{ actividad6m }}</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadm.actividad7) }}
                                            {{ form_label(edit_form.actividadm.actividad7) }}
                                            {% if totalm.actividad7< actividad7m %}
                                                <span class="label label-success">{{ totalm.actividad7 }} de {{ actividad7m }}</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalm.actividad7 }} de {{ actividad7m }}</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadm.actividad8) }}
                                            {{ form_label(edit_form.actividadm.actividad8) }}
                                            {% if totalm.actividad8< actividad8m %}
                                                <span class="label label-success">{{ totalm.actividad8 }} de {{ actividad8m }}</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalm.actividad8 }} de {{ actividad8m }}</span>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="col-md-6" >
                                        <div>
                                            {{ form_widget(edit_form.actividadm.actividad9) }}
                                            {{ form_label(edit_form.actividadm.actividad9) }}
                                            {% if totalm.actividad9< actividad9m %}
                                                <span class="label label-success">{{ totalm.actividad9 }} de {{ actividad9m }}</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalm.actividad9 }} de {{ actividad9m }}</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadm.actividad10) }}
                                            {{ form_label(edit_form.actividadm.actividad10) }}
                                            {% if totalm.actividad10< actividad10m %}
                                                <span class="label label-success">{{ totalm.actividad10 }} de {{ actividad10m }}</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalm.actividad10 }} de {{ actividad10m }}</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadm.actividad11) }}
                                            {{ form_label(edit_form.actividadm.actividad11) }}
                                            {% if totalm.actividad11< actividad11m %}
                                                <span class="label label-success">{{ totalm.actividad11 }} de {{ actividad11m }}</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalm.actividad11 }} de {{ actividad11m }}</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadm.actividad12) }}
                                            {{ form_label(edit_form.actividadm.actividad12) }}
                                            {% if totalm.actividad12< actividad12m %}
                                                <span class="label label-success">{{ totalm.actividad12 }} de {{ actividad12m }}</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalm.actividad12 }} de {{ actividad12m }}</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadm.actividad13) }}
                                            {{ form_label(edit_form.actividadm.actividad13) }}
                                            {% if totalm.actividad13< actividad13m %}
                                                <span class="label label-success">{{ totalm.actividad13 }} de {{ actividad13m }}</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalm.actividad13 }} de {{ actividad13m }}</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadm.actividad14) }}
                                            {{ form_label(edit_form.actividadm.actividad14) }}
                                            {% if totalm.actividad14< actividad14m %}
                                                <span class="label label-success">{{ totalm.actividad14 }} de {{ actividad14m }}</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalm.actividad14 }} de {{ actividad14m }}</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadm.actividad15) }}
                                            {{ form_label(edit_form.actividadm.actividad15) }}
                                            {% if totalm.actividad15< actividad15m %}
                                                <span class="label label-success">{{ totalm.actividad15 }} de {{ actividad15m }}</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalm.actividad15 }} de {{ actividad15m }}</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadm.actividad16) }}
                                            {{ form_label(edit_form.actividadm.actividad16) }}
                                            {% if totalm.actividad16< actividad16m %}
                                                <span class="label label-success">{{ totalm.actividad16 }} de {{ actividad16m }}</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalm.actividad16 }} de {{ actividad16m }}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="profile">
                                <p class="text-info">Selecciona una actividad para el horario <mark>vespertino</mark></p>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="col-md-6" >
                                        <div>
                                            {{ form_widget(edit_form.actividadv.actividad1) }}
                                            {{ form_label(edit_form.actividadv.actividad1) }}
                                            {% if totalv.actividad1 < actividad1v %}
                                                <span class="label label-success">{{ totalv.actividad1 }} de {{ actividad1v }}</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalv.actividad1 }} de {{ actividad1v }}</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadv.actividad2) }}
                                            {{ form_label(edit_form.actividadv.actividad2) }}
                                            {% if totalv.actividad2 < actividad2v %}
                                                <span class="label label-success">{{ totalv.actividad2 }} de {{ actividad2v }}</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalv.actividad2 }} de {{ actividad2v }}</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadv.actividad3) }}
                                            {{ form_label(edit_form.actividadv.actividad3) }}
                                            {% if totalv.actividad3 < actividad3v %}
                                                <span class="label label-success">{{ totalv.actividad3 }} de {{ actividad3v }}</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalv.actividad3 }} de {{ actividad3v }}</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadv.actividad4) }}
                                            {{ form_label(edit_form.actividadv.actividad4) }}
                                            {% if totalv.actividad4 < actividad4v %}
                                                <span class="label label-success">{{ totalv.actividad4 }} de {{ actividad4v }}</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalv.actividad4 }} de {{ actividad4v }}</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadv.actividad5) }}
                                            {{ form_label(edit_form.actividadv.actividad5) }}
                                            {% if totalv.actividad5 < actividad5v %}
                                                <span class="label label-success">{{ totalv.actividad5 }} de {{ actividad5v }}</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalv.actividad5 }} de {{ actividad5v }}</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadv.actividad6) }}
                                            {{ form_label(edit_form.actividadv.actividad6) }}
                                            {% if totalv.actividad6 < actividad6v %}
                                                <span class="label label-success">{{ totalv.actividad6 }} de {{ actividad6v }}</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalv.actividad6 }} de {{ actividad6v }}</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadv.actividad7) }}
                                            {{ form_label(edit_form.actividadv.actividad7) }}
                                            {% if totalv.actividad7 < actividad7v %}
                                                <span class="label label-success">{{ totalv.actividad7 }} de {{ actividad7v }}</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalv.actividad7 }} de {{ actividad7v }}</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadv.actividad8) }}
                                            {{ form_label(edit_form.actividadv.actividad8) }}
                                            {% if totalv.actividad8 < actividad8v %}
                                                <span class="label label-success">{{ totalv.actividad8 }} de {{ actividad8v }}</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalv.actividad8 }} de {{ actividad8v }}</span>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="col-md-6" >
                                        <div>
                                            {{ form_widget(edit_form.actividadv.actividad9) }}
                                            {{ form_label(edit_form.actividadv.actividad9) }}
                                            {% if totalv.actividad9 < actividad9v %}
                                                <span class="label label-success">{{ totalv.actividad9 }} de {{ actividad9v }}</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalv.actividad9 }} de {{ actividad9v }}</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadv.actividad10) }}
                                            {{ form_label(edit_form.actividadv.actividad10) }}
                                            {% if totalv.actividad10 < actividad10v %}
                                                <span class="label label-success">{{ totalv.actividad10 }} de {{ actividad10v }}</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalv.actividad10 }} de {{ actividad10v }}</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadv.actividad11) }}
                                            {{ form_label(edit_form.actividadv.actividad11) }}
                                            {% if totalv.actividad11 < actividad11v %}
                                                <span class="label label-success">{{ totalv.actividad11 }} de {{ actividad11v }}</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalv.actividad11 }} de {{ actividad11v }}</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadv.actividad12) }}
                                            {{ form_label(edit_form.actividadv.actividad12) }}
                                            {% if totalv.actividad12 < actividad12v %}
                                                <span class="label label-success">{{ totalv.actividad12 }} de {{ actividad12v }}</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalv.actividad12 }} de {{ actividad12v }}</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadv.actividad13) }}
                                            {{ form_label(edit_form.actividadv.actividad13) }}
                                            {% if totalv.actividad13 < actividad13v %}
                                                <span class="label label-success">{{ totalv.actividad13 }} de {{ actividad13v }}</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalv.actividad13 }} de {{ actividad13v }}</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadv.actividad14) }}
                                            {{ form_label(edit_form.actividadv.actividad14) }}
                                            {% if totalv.actividad14 < actividad14v %}
                                                <span class="label label-success">{{ totalv.actividad14 }} de {{ actividad14v }}</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalv.actividad14 }} de {{ actividad14v }}</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadv.actividad15) }}
                                            {{ form_label(edit_form.actividadv.actividad15) }}
                                            {% if totalv.actividad15 < actividad15v %}
                                                <span class="label label-success">{{ totalv.actividad15 }} de {{ actividad15v }}</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalv.actividad15 }} de {{ actividad15v }}</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadv.actividad16) }}
                                            {{ form_label(edit_form.actividadv.actividad16) }}
                                            {% if totalv.actividad16 < actividad16v %}
                                                <span class="label label-success">{{ totalv.actividad16 }} de {{ actividad16v }}</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalv.actividad16 }} de {{ actividad16v }}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-7 col-sm-7 col-md-7 col-md-offset-5 col-sm-offset-5 col-lg-offset-5">
                            <br>
                            <input type="submit" value="Modificar registro" class="btn btn-success" />
                        </div>
                    </div>
                    {{ form_end(edit_form) }}
                </div>

            </div>
        </div>
        </div>
    {% endif %}
{% endblock %}