{% extends 'base.html.twig' %}

{% form_theme edit_form 'registro/form_errors.html.twig' %}

{% block body %}
    <div class="container">

    {% if is_granted('ROLE_ADMIN') %}
        <ol class="breadcrumb">
            <li><a href="{{ path('admin')  }}">Solicitudes</a></li>
            <li>{{ registro.nombre|title}} {{ registro.paterno|title}} {{ registro.materno }}</li>
        </ol>

    {% endif %}

    {% if app.session.flashbag.has('notice') %}
        <div class="jumbotron">
            <h3><i class="fa fa-check" aria-hidden="true"></i> {{ app.session.flashbag.get('notice').0 }}</h3>
            <p>Se ha enviado un correo de confirmación a la dirección que nos proporcionaste: <strong>{{ registro.mail }}</strong></p>
            <p>Hemos recibido la siguiente información:</p>
            <p><strong>Nombre</strong>: <span class="label label-success">{{ registro.nombre|title }} {{ registro.paterno|title }} {{ registro.materno|title }}</span></p>
            <p><strong>Actividad horario matutino: </strong>
                {% for key,value in registro.actividadm if value %}
                    <span class="label label-success"> {{ key |title}}</span>
                {% endfor %}
            </p>
            <p><strong>Actividad horario vespertino: </strong>
                {% for key,value in registro.actividadv if value %}
                    <span class="label label-success">{{ key |title}}</span>
                {% endfor %}
            </p>
            <p><strong>¿Deseas comida vegetariana?:</strong>
                {% if registro.comida == true %}
                    <span class="label label-success">Si</span>
                {% else %}
                    <span class="label label-danger">No</span>
                {% endif %}
            </p>
            <p><strong>Playera:</strong>
                {% if registro.sexo == true %}
                    <span class="label label-success">Hombre</span>
                {% else %}
                    <span class="label label-success">Mujer</span>
                {% endif %}
                <span class="label label-success">{{ registro.playera }}</span>
            </p>
            <br>
            <p class="text-justify">En caso de no recibir este correo de confirmación, puedes verificar en tu
                bandeja de correos no deseados o escribir al correo <i>webmaster<i class="fa fa-at"></i>matmor.unam.mx</i> para validar que hayamos recibido tu información.</p>
        </div>

        <div class="col-lg-7 col-lg-offset-5">
            <a href="http://www.matmor.unam.mx/feria-matematica" type="button"  class="btn btn-primary">Finalizar</a>
        </div>
    {% else %}

        {{ form_start(edit_form, {'action': path('registro_edit',{'id':registro.id, 'mail':registro.mail})}) }}

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="well well-lg">
                    <h4>A través de este formulario podrás integrarte a las actividades de la Feria Matemática 2018</h4>
                    <p class="text-justify">
                        <small><i class="fa fa-check-circle" aria-hidden="true"></i></small> Puedes seleccionar una actividad por cada horario (matutino, vespertino).<br>
                        <small><i class="fa fa-check-circle" aria-hidden="true"></i></small> En cada actividad se indicará la cantidad de <span class="label label-success">lugares disponibles.</span>
                        También se indicará cuando la actividad <span class="label label-danger">no tenga lugares disponibles</span><br>
                        <small><i class="fa fa-check-circle" aria-hidden="true"></i></small> Una vez que enviés el formulario ya no será posible modificar tu regsitro.<br>
                        <small><i class="fa fa-check-circle" aria-hidden="true"></i></small> Después de enviar el formulario recibirás un correo de confirmación a la dirección que nos proporcionaste,
                        de no ser así puedes escribir a <br><strong>webmaster<i class="fa fa-at"></i>matmor.unam.mx</strong> para confirmar que se haya actualizado tu
                        información.
                    </p>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 ">

                    <div class="text-info">
                        {% if registro.nombre is not null or registro.nombre is not empty %}
                            <div class="page-header"><h2>{{ registro.nombre }} {{ registro.paterno }} {{ registro.materno }}<em> <small>{{ registro.mail}}</small></em></h2>
                                <h4> {{ registro.institucion }}, {{ registro.carrera }} </h4>
                            </div>
                        {% endif %}
                    </div>


                    <div class="col-lg-3">
                        <div class="form-group">
                            <div class="text-info">{{ form_label(edit_form.comida) }}</div>
                            <div>
                                {% spaceless %}
                                    {% for child in edit_form.comida %}
                                        <div class="radio-inline ">
                                            {{ form_widget(child) }}  {{ form_label(child, null, {'label_attr': {'class': 'btn btn-default btn-xs'}}) }}
                                        </div>
                                    {% endfor %}
                                {% endspaceless %}
                            </div>
                            <div>{{ form_errors(edit_form.comida) }}</div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <div class="text-info">{{ form_label(edit_form.sexo) }}</div>
                            <div>
                                {% spaceless %}
                                    {% for child in edit_form.sexo %}
                                        <div class="radio-inline">
                                            {{ form_widget(child) }}  {{ form_label(child, null, {'label_attr': {'class': 'btn btn-default btn-xs'}}) }}
                                        </div>
                                    {% endfor %}
                                {% endspaceless %}
                            </div>
                            <div>{{ form_errors(edit_form.sexo) }}</div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="form-group">
                            <div class="text-info ">{{ form_label(edit_form.playera) }}</div>
                            <div>{{ form_widget(edit_form.playera, {'attr': {'class': 'form-control input-sm'} } ) }}</div>
                            <div>{{ form_errors(edit_form.playera) }}</div><br>
                        </div>
                    </div>

                    {% if edit_form.activo is defined %}
                        <div class="col-lg-3">
                            <div class="form-group text-center">
                                <div class="text-info">{{ form_label(edit_form.activo) }}</div>
                                <div>
                                    {% spaceless %}
                                        {% for child in edit_form.activo %}
                                            <div class="radio-inline">
                                                {{ form_widget(child) }}  {{ form_label(child, null, {'label_attr': {'class': 'btn btn-default btn-xs'}}) }}
                                            </div>
                                        {% endfor %}
                                    {% endspaceless %}
                                </div>
                                <div>{{ form_errors(edit_form.activo) }}</div>
                            </div>
                        </div>
                    {% endif %}

                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <br>
                        <div><h2>Actividades</h2> </div>
                    </div>
                    {{ form_errors(edit_form) }}
                    {% for flashMessage in app.session.flashbag.get('error') %}

                        <span class=" label label-danger"> <i class="fa fa-times"></i> {{ flashMessage }}</span>

                    {% endfor %}

                    <div class="col-lg-12">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-clock-o" aria-hidden="true"></i> Horario matutino</a></li>
                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-clock-o" aria-hidden="true"></i> Horario vespertino</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content ">
                            <div role="tabpanel" class="tab-pane active" id="home">
                                <p class="text-info">Selecciona una actividad para el horario matutino</p>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="col-md-6" >
                                        <div>
                                            {{ form_widget(edit_form.actividadm.braille) }}
                                            {{ form_label(edit_form.actividadm.braille) }}
                                            {% if totalm.braille < 5 %}
                                                <span class="label label-success">{{ totalm.braille }} de 5</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalm.braille }} de 5</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadm.burbujas) }}
                                            {{ form_label(edit_form.actividadm.burbujas) }}
                                            {% if totalm.burbujas < 6 %}
                                                <span class="label label-success">{{ totalm.burbujas }} de 6</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalm.burbujas }} de 6</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadm.canguro) }}
                                            {{ form_label(edit_form.actividadm.canguro) }}
                                            {% if totalm.canguro < 5 %}
                                                <span class="label label-success">{{ totalm.canguro }} de 5</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalm.canguro }} de 5</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadm.club) }}
                                            {{ form_label(edit_form.actividadm.club) }}
                                            {% if totalm.club < 5 %}
                                                <span class="label label-success">{{ totalm.club }} de 5</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalm.club }} de 5</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadm.dimensiones) }}
                                            {{ form_label(edit_form.actividadm.dimensiones) }}
                                            {% if totalm.dimensiones < 4 %}
                                                <span class="label label-success">{{ totalm.dimensiones }} de 4</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalm.dimensiones }} de 4</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadm.divulgamat) }}
                                            {{ form_label(edit_form.actividadm.divulgamat) }}
                                            {% if totalm.divulgamat < 4 %}
                                                <span class="label label-success">{{ totalm.divulgamat }} de 4</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalm.divulgamat }} de 4</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadm.expo) }}
                                            {{ form_label(edit_form.actividadm.expo) }}
                                            {% if totalm.expo < 4 %}
                                                <span class="label label-success">{{ totalm.expo }} de 4</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalm.expo }} de 4</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadm.gato) }}
                                            {{ form_label(edit_form.actividadm.gato) }}
                                            {% if totalm.gato < 4 %}
                                                <span class="label label-success">{{ totalm.gato }} de 4</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalm.gato }} de 4</span>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="col-md-6" >
                                        <div>
                                            {{ form_widget(edit_form.actividadm.ciga) }}
                                            {{ form_label(edit_form.actividadm.ciga) }}
                                            {% if totalm.ciga < 4 %}
                                                <span class="label label-success">{{ totalm.ciga }} de 4</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalm.ciga }} de 4</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadm.teatromatico) }}
                                            {{ form_label(edit_form.actividadm.teatromatico) }}
                                            {% if totalm.teatromatico < 2 %}
                                                <span class="label label-success">{{ totalm.teatromatico }} de 2</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalm.teatromatico }} de 2</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadm.penrose) }}
                                            {{ form_label(edit_form.actividadm.penrose) }}
                                            {% if totalm.penrose < 6 %}
                                                <span class="label label-success">{{ totalm.penrose }} de 6</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalm.penrose }} de 6</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadm.museo) }}
                                            {{ form_label(edit_form.actividadm.museo) }}
                                            {% if totalm.museo < 4 %}
                                                <span class="label label-success">{{ totalm.museo }} de 4</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalm.mueso }} de 4</span>
                                            {% endif %}
                                        </div>

                                        <div>
                                            {{ form_widget(edit_form.actividadm.irya) }}
                                            {{ form_label(edit_form.actividadm.irya) }}
                                            {% if totalm.irya < 6 %}
                                                <span class="label label-success">{{ totalm.irya }} de 6</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalm.irya }} de 6</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadm.rompecabezas) }}
                                            {{ form_label(edit_form.actividadm.rompecabezas) }}
                                            {% if totalm.rompecabezas < 4 %}
                                                <span class="label label-success">{{ totalm.rompecabezas }} de 4</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalm.rompecabezas }} de 4</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadm.topologia) }}
                                            {{ form_label(edit_form.actividadm.topologia) }}
                                            {% if totalm.topologia < 6 %}
                                                <span class="label label-success">{{ totalm.topologia }} de 6</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalm.topologia }} de 6</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadm.papiroacertijos) }}
                                            {{ form_label(edit_form.actividadm.papiroacertijos) }}
                                            {% if totalm.papiroacertijos < 4 %}
                                                <span class="label label-success">{{ totalm.papiroacertijos }} de 4</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalm.papiroacertijos }} de 4</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="profile">
                                <p class="text-info">Selecciona una actividad para el horario vespertino</p>
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="col-md-6" >
                                        <div>
                                            {{ form_widget(edit_form.actividadv.braille) }}
                                            {{ form_label(edit_form.actividadv.braille) }}
                                            {% if totalv.braille < 5 %}
                                                <span class="label label-success">{{ totalv.braille }} de 5</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalv.braille }} de 5</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadv.burbujas) }}
                                            {{ form_label(edit_form.actividadv.burbujas) }}
                                            {% if totalv.burbujas < 6 %}
                                                <span class="label label-success">{{ totalv.burbujas }} de 6</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalv.burbujas }} de 6</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadv.canguro) }}
                                            {{ form_label(edit_form.actividadv.canguro) }}
                                            {% if totalv.canguro < 5 %}
                                                <span class="label label-success">{{ totalv.canguro }} de 5</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalv.canguro }} de 5</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadv.club) }}
                                            {{ form_label(edit_form.actividadv.club) }}
                                            {% if totalv.club < 5 %}
                                                <span class="label label-success">{{ totalv.club }} de 5</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalv.club }} de 5</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadv.dimensiones) }}
                                            {{ form_label(edit_form.actividadv.dimensiones) }}
                                            {% if totalv.dimensiones < 4 %}
                                                <span class="label label-success">{{ totalv.dimensiones }} de 4</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalv.dimensiones }} de 4</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadv.divulgamat) }}
                                            {{ form_label(edit_form.actividadv.divulgamat) }}
                                            {% if totalv.divulgamat < 4 %}
                                                <span class="label label-success">{{ totalv.divulgamat }} de 4</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalv.divulgamat }} de 4</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadv.expo) }}
                                            {{ form_label(edit_form.actividadv.expo) }}
                                            {% if totalv.expo < 4 %}
                                                <span class="label label-success">{{ totalv.expo }} de 4</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalv.expo }} de 4</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadv.gato) }}
                                            {{ form_label(edit_form.actividadv.gato) }}
                                            {% if totalv.gato < 4 %}
                                                <span class="label label-success">{{ totalv.gato }} de 4</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalm.gato }} de 4</span>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="col-md-6" >
                                        <div>
                                            {{ form_widget(edit_form.actividadv.ciga) }}
                                            {{ form_label(edit_form.actividadv.ciga) }}
                                            {% if totalv.ciga < 4 %}
                                                <span class="label label-success">{{ totalv.ciga }} de 4</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalv.ciga }} de 4</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadv.teatromatico) }}
                                            {{ form_label(edit_form.actividadv.teatromatico) }}
                                            {% if totalv.teatromatico < 2 %}
                                                <span class="label label-success">{{ totalv.teatromatico }} de 2</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalv.teatromatico }} de 2</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadv.penrose) }}
                                            {{ form_label(edit_form.actividadv.penrose) }}
                                            {% if totalv.penrose < 6 %}
                                                <span class="label label-success">{{ totalv.penrose }} de 6</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalv.penrose }} de 6</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadv.museo) }}
                                            {{ form_label(edit_form.actividadv.museo) }}
                                            {% if totalv.museo < 4 %}
                                                <span class="label label-success">{{ totalv.museo }} de 4</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalv.museo }} de 4</span>
                                            {% endif %}
                                        </div>

                                        <div>
                                            {{ form_widget(edit_form.actividadv.irya) }}
                                            {{ form_label(edit_form.actividadv.irya) }}
                                            {% if totalv.irya < 6 %}
                                                <span class="label label-success">{{ totalv.irya }} de 6</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalv.irya }} de 6</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadv.rompecabezas) }}
                                            {{ form_label(edit_form.actividadv.rompecabezas) }}
                                            {% if totalv.rompecabezas < 4 %}
                                                <span class="label label-success">{{ totalv.rompecabezas }} de 4</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalv.rompecabezas }} de 4</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadv.topologia) }}
                                            {{ form_label(edit_form.actividadv.topologia) }}
                                            {% if totalv.topologia <= 6 %}
                                                <span class="label label-success">{{ totalv.topologia }} de 6</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalv.topologia }} de 6</span>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {{ form_widget(edit_form.actividadv.papiroacertijos) }}
                                            {{ form_label(edit_form.actividadv.papiroacertijos) }}
                                            {% if totalv.papiroacertijos < 4 %}
                                                <span class="label label-success">{{ totalv.papiroacertijos }} de 4</span>
                                            {% else %}
                                                <span class="label label-danger">{{ totalv.papiroacertijos }} de 4</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-7 col-sm-7 col-md-7 col-md-offset-5 col-sm-offset-5 col-lg-offset-5">
                            <br>
                            <input type="submit" value="Modificar registro" class="btn btn-success" />
                        </div>
                    </div>
                    {{ form_end(edit_form) }}
                </div>

            </div>
        </div>
        </div>
    {% endif %}
{% endblock %}